/* Benefits */
.benefits-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-list {
  flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -30px;
  list-style: none;
  &__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-top: 30px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__icon {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__title {
    color: $ptimary-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
